.bg-gradient-admin {
    background: linear-gradient(135deg, #086e85, #982a2a); /* deep royal blue */
  }
  
  .bg-gradient-etablissement {
    background: linear-gradient(135deg, #152e78, #046873); /* blue electric */
  }
  
  .bg-gradient-health {
    background: linear-gradient(135deg, #56ccf2, #30ae5c); /* sky blue */
  }
  
  .bg-gradient-assurance {
    background: linear-gradient(135deg, #2193b0, #6dd5ed); /* turquoise blue */
  }

  .bg-gradient-assure {
    background: linear-gradient(135deg, #972323, #878307); /* turquoise blue */
  }